<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Some Website</title>
</head>
<body>
    <h1>Sorry for the Inconvienence!</h1>
    <p>Under Maintenance, Be Back Soon</p>
</body>
</html>